@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro.woff2') format('woff2'),
    url('../fonts/GothamPro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Medium.woff2') format('woff2'),
    url('../fonts/GothamPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Bold.woff2') format('woff2'),
    url('../fonts/GothamPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pf_din_text_cond_proregular';
  src: url('../fonts/Pf_din_text_cond_pro-webfont.woff2') format('woff2'),
    url('../fonts/Pf_din_text_cond_pro-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gotham Pro', Arial, Helvetica, sans-serif;
}

.populars-page {
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 26px 0 18px 0;
}

.header__menu {
  display: flex;
  align-items: center;
  padding-top: 1px;
}

.header__menu--item {
  margin-right: 39px;
}

.header__menu--item:nth-child(2) {
  margin-right: 41px;
}

.header__menu--item:nth-child(3) {
  margin-right: 40px;
}

.header__menu--item:last-child {
  margin-right: -21px;
}

.menu__item--link {
  text-transform: uppercase;
  color: #48494a;
  font-size: 14px;
  font-weight: 700;
}

.menu__item--link:hover {
  color: #ff0000;
  transition: 0.3s;
}

.content {
  background-color: #f1f1f1;
  width: 100%;
}

.content__inner {
  width: 100%;
}

.content__header {
  width: 100%;
  padding: 40px 0 32px 2px;
  display: flex;
  justify-content: space-between;
  margin: 6px 0 0 0;
}

.header--titles {
  color: #48494a;
  font-size: 30px;
  font-weight: 500;
  margin: -1px 0px 7px -5px;
}

.small--button {
  color: #fff;
  font-size: 14px;
  padding: 11px 26px 13px 25px;
  background-color: #fa1818;
  border-radius: 3px;
  margin-right: -1px;
  box-shadow: 0 13px 22px 2px rgba(250, 25, 25, 0.45);
}

.button__for__phone {
  display: none;
}

.small--button:hover {
  background-color: #ec2b2b;
}

.small--button:focus {
  background-color: #ff0000;
}

.content__header--button {
  margin-right: -19px;
}

.content__card {
  display: flex;
  justify-content: space-around;
  padding-bottom: 121px;
  flex-wrap: wrap;
}

.card {
  width: 335px;
  font-family: 'Gotham Pro';
  box-shadow: 0 5px 5px 1px rgba(23, 24, 25, 0.05);
}

.card__office {
  width: 100%;
  min-height: 242px;
  background-image: url(../img/office.jpg);
  position: relative;
}

.card__office--label {
  display: inline-flex;
  color: #48494a;
  font-family: 'Gotham Pro';
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #ffc600;
  position: relative;
  padding: 6px 10px 6px 10px;
  margin: 10px 0 0px 21px;
}

.card__office--label::after {
  content: "";
  width: 1px;
  height: 1px;
  border-top: 6px solid #ffc600;
  border-right: 6px solid transparent;
  position: absolute;
  left: 0;
  top: 23px;
}


.card__office--heart-image {
  position: absolute;
  right: 0;
  margin: 10px 16px 0;
}

.card--title {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.info {
  max-width: 335px;
  height: 98px;
  background-color: #fff;
}

.info_inner {
  padding-top: 13px;
  margin-left: 21px;
}

.address {
  display: flex;
  align-items: center;
  color: #48494a;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
  letter-spacing: 0px;
}

.address::after {
  margin-left: 9px;
  content: '';
  display: block;
  background-image: url(../img/icons/map-icon.svg);
  width: 24px;
  height: 24px;
}

.price {
  font-size: 18px;
  color: #161617;
  background-color: #fffbd7;
  padding: 7px 10px 4px 5px;
  margin-right: 6px;
}

.number,
.solutions {
  font-weight: 700;
}

.subtitle {
  font-size: 12px;
  color: #80848d;
}

.address-spec::after {
  background-image: none;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 39px;
}

.footer__socials {
  margin-left: 117px;
  margin-top: -3px;
}

.footer__socials--title {
  color: #80868e;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.footer__socials--links {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.footer__socials--link {
  margin-right: 35px;
}

.footer__socials--link:nth-last-child(1) {
  margin-right: 0;
}

.footer__paternity {
  display: flex;
  align-items: center;
  margin-right: 109px;
  margin-bottom: 55px;
}

.footer__paternity--logo {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.footer__paternity--text {
  display: flex;
  flex-direction: column;
}

.footer__paternity--title {
  color: #80868e;
  font-size: 12px;
  font-family: 'Pf_din_text_cond_proregular';
  margin-bottom: 3px;
  letter-spacing: 0.8px;
}

.footer__paternity--title_img {
  margin: 0 0 1px 1px;
}

.footer__socials--link--fb {
  margin: -1px 0 0 1px;
}

.footer__socials--link--tw {
  margin: 0 0 0 31px;
}

.footer__socials--link--yt {
  margin: -2px 0 0 29px;
}

.footer__socials--link--in {
  margin: -2px 0 0 33px;
}

.card:nth-child(1) {
  margin: 0 0 0 -9px;
}

.card:nth-child(2) {
  margin: 0 0 0 2px;
}

.card:nth-child(3) {
  margin: 0 0 0 0;
}

.card:nth-child(4) {
  margin: 0 -29px 0 0;
}

.menu__item--link:nth-child(1) {
  margin: 0 2px 0 -1px;
}

/* SECOND BLOCK */

.content-2 {
  background: linear-gradient(to left, #f1f1f1 33.4%, #fafafa 0%);
}

.content-2__inner {
  display: flex;
  flex-wrap: nowrap;
}

.oap {
  width: 68%;
  padding-right: 12px;
  padding-bottom: 51px;
  margin-right: 70px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.oap__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: auto;
  padding-top: 51px;
}

.oap__header--btn {
  position: absolute;
  right: 0;
  padding: 9px 29px 11px 25px;
}

.oap__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
  height: 423px;
}

.oap__card {
  display: flex;
  flex-wrap: wrap;
  width: 454px;
  height: 248px;
}

.oap__card:first-child {
  margin-left: -1px;
  margin-right: 19px;
}

.oap__card--image-1,
.oap__card--image-2 {
  position: relative;
  width: 100%;
  height: 100%;
}

.oap__card--image-1 {
  background: url('../img/oap-card-img-1.jpg')center no-repeat;
}

.oap__card--image-2 {
  background: url('../img/oap-card-img-2.jpg')center no-repeat;
}

.oap__card--title {
  font-size: 16px;
  bottom: 34px;
  left: 18px;
}

.oap__card--info {
  background-color: #fff;
  position: relative;
  height: 175px;
  width: 100%;
  box-shadow: 0 5px 5px 1px rgba(23, 24, 25, 0.05);
}

.card--description,
.desc {
  display: flex;
  align-items: center;
  color: #48494a;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  margin: 19px 0 0 20px;
}

.card--date {
  color: #80868e;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  padding: 0 0 40px 22px;
}

.mailing {
  padding-left: 79px;

}

.mailing__title {
  margin: 0;
  padding-top: 129px;
}

.mailing__subtitle {
  margin: 0;
  padding-top: 15px;
  padding-left: 1px;
}

.input__title {
  margin: 0;
  padding-top: 51px;
  padding-left: 1px;
  margin-bottom: 11px;
}

.input__field {
  outline: none;
  border: none;
  box-shadow: 0 5px 5px 1px rgba(23, 24, 25, 0.05);
  width: 107%;
  padding: 21px 20px 19px 22px;
  font-weight: 400;
  font-size: 14px;
  color: #a2a2a2;
  letter-spacing: 0.7px;
}

.input__field::placeholder {
  color: #a2a2a2;
}

.input__confirm-btn {
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ff0000;
  width: 106.4%;
  margin: 30px 0 0 1px;
  padding: 20px 0 19px 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.input__confirm-btn:hover {
  background-color: #d40101;
}

.input__confirm-btn:focus {
  background-color: #e42a2a;
}

@media(max-width: 2560px) and (min-width: 1921px) {
  .content-2 {
    background: linear-gradient(to left, #f1f1f1 37.6%, #fafafa 0%);
  }
}

@media (max-width: 1440px) and (min-width: 1025px) {

  .content__card {
    padding-bottom: 60px;
  }

  .content-2 {
    background: linear-gradient(to left, #f1f1f1 28%, #fafafa 0%);
  }

  .mailing {
    padding: 0 30px;
  }

  .mailing__title {
    padding-top: 50px;
  }

  .input__title {
    padding-top: 30px;
  }

  .input__field {
    padding: 17px 15px;
  }

  .input__confirm-btn {
    margin-top: 25px;
    padding: 18px 0;
    width: 107%;
  }

  .footer {
    padding-top: 29px;
  }

  .footer__socials--title {
    margin-bottom: 15px;
  }

  .footer__socials--links {
    margin-bottom: 0;
  }

  .footer__paternity {
    margin-top: 5px;
    margin-bottom: 30px;
  }

}

@media(max-width: 1024px) and (min-width: 769px) {

  .header__logo,
  .content__header--title {
    margin-left: 115px;
  }

  .header__menu {
    margin-right: 130px;
  }

  .content__header--button {
    margin-right: 115px;
  }

  .menu__item--link {
    font-size: 12px;
  }

  .content__card {
    padding: 0 65px 30px 65px;
  }

  .card:first-child,
  .card:nth-child(2),
  .card:nth-child(3),
  .card:last-child {
    margin: 0 0 30px 0;
  }

  .container-2 {
    padding: 0;
  }

  .content-2__inner {
    flex-wrap: wrap;
    background-color: #fafafa;
  }

  .oap {
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 121px;
  }

  .oap__header {
    padding-top: 15px;
  }

  .oap__header--title {
    margin-left: 0;
  }

  .oap__header--btn {
    right: 10px;
  }

  .oap__cards {
    margin: 25px 0;
  }

  .oap__card {
    width: 373px;
    height: 238px;
  }

  .oap__card:first-child {
    margin-right: 27px;
  }

  .oap__card--title {
    bottom: 10px;
    left: 15px;
  }

  .card--description {
    margin: 10px 0 0 15px;
  }

  .card--date {
    padding: 0 0 15px 15px;
  }

  .mailing {
    width: 100%;
    background-color: #f1f1f1;
    margin: 0 auto;
    padding: 25px 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }

  .mailing__title {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .mailing__subtitle {
    margin: 0;
    padding: 20px 0;
    display: inline-block;
    text-align: center;
  }

  .mailing__input {
    width: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }

  .input__title {
    padding: 10px 0;
  }

  .input__field {
    width: 80%;
    padding: 16px 20px;
  }

  .input__confirm-btn {
    width: 40%;
    margin: 25px 0 0;
    padding: 14px;
  }

  .footer__paternity {
    margin-right: 120px;
  }

  .footer {
    padding-top: 29px;
  }

  .footer__socials--title {
    margin-bottom: 15px;
  }

  .footer__socials--links {
    margin-bottom: 0;
  }

  .footer__paternity {
    margin-top: 5px;
    margin-bottom: 30px;
  }


}

@media(max-width: 768px) and (min-width: 426px) {

  .header {
    padding: 20px 0 15px 0;
  }

  .header__logo {
    margin-left: 20px;
  }

  .header__menu {
    margin-right: 40px;
  }

  .content__header {
    padding: 30px 0 30px 2px;
  }

  .content__header--title {
    margin-left: 20px;
    font-size: 29px;
  }

  .content__header--button {
    padding: 11px 22px 11px 21px;
    margin-right: 20px;
  }

  .card:first-child,
  .card:nth-child(2),
  .card:nth-child(3),
  .card:last-child {
    margin: 15px 0 15px 0;
  }

  .content__card {
    padding-bottom: 50px;
  }

  .container-2 {
    padding: 0;
  }

  .content-2__inner {
    flex-wrap: wrap;
    background-color: #fafafa;
  }

  .oap {
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 30px;
  }

  .oap__header {
    padding-top: 15px;
  }

  .oap__header--title {
    margin-left: 0;
  }

  .oap__header--btn {
    right: 0;
  }

  .oap__cards {
    margin: 25px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 850px;
  }

  .oap__card {
    width: 373px;
    height: 238px;
    margin: 0;
  }

  .oap__card:first-child {
    margin-right: 0;
  }

  .oap__card:last-child {
    margin-right: 0;
  }

  .oap__card--title {
    bottom: 10px;
    left: 15px;
  }

  .card--description {
    margin: 10px 0 0 15px;
  }

  .card--date {
    padding: 0 0 15px 15px;
  }

  .mailing {
    width: 100%;
    background-color: #f1f1f1;
    margin: 0 auto;
    padding: 25px 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }

  .mailing__title {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .mailing__subtitle {
    margin: 0;
    padding: 20px 0;
    display: inline-block;
    text-align: center;
  }

  .mailing__input {
    width: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }

  .input__title {
    padding: 10px 0;
  }

  .input__field {
    width: 80%;
    padding: 16px 20px;
  }

  .input__confirm-btn {
    width: 40%;
    margin: 25px 0 0;
    padding: 14px;
  }

  .footer__paternity {
    margin-right: 120px;
  }

  .footer {
    padding-top: 29px;
  }

  .footer__socials--title {
    margin-bottom: 15px;
  }

  .footer__socials--links {
    margin-bottom: 0;
  }

  .footer__paternity {
    margin-top: 5px;
    margin-bottom: 30px;
  }

}

@media(max-width: 425px) and (min-width: 376px) {

  .header {
    padding: 10px 0 5px 0;
  }

  .header__logo {
    padding-top: 5px;
    margin-left: 35px;
  }

  .header__menu {
    margin-right: 35px;
  }

  .header__menu--item {
    margin-right: 8px;
  }

  .header__menu--item:first-child {
    margin-right: 10px;
  }

  .header__menu--item:nth-child(2) {
    margin-right: 10px;
  }

  .header__menu--item:nth-child(3) {
    margin-right: 10px;
  }

  .header__menu--item:last-child {
    margin-right: 0;
  }

  .menu__item--link {
    font-size: 10px;
  }

  .content__inner {
    padding-bottom: 40px;
  }

  .content__header {
    padding: 25px 20px 25px 0;
    justify-content: center;
    text-transform: uppercase;
  }

  .content__header--title {
    font-size: 21px;
    padding-top: 5px;
    margin-left: 30px;
  }

  .button__for__pc {
    display: none;
  }

  .button__for__phone {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .small__phone__button {
    width: 40%;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 10px;
  }


  .card {
    margin: 10px 0;
  }

  .card:first-child {
    margin: 0;
  }

  .card:last-child {
    margin: 15px 0 0 0;
  }

  .card:nth-child(2) {
    margin: 15px 0 15px 0;
  }

  .content__card {
    padding-bottom: 20px;
  }


  .container-2 {
    padding: 0;
  }

  .content-2__inner {
    flex-wrap: wrap;
    background-color: #fafafa;
  }

  .oap {
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 30px;
  }

  .oap__header {
    padding-top: 15px;
    justify-content: center;
  }

  .oap__header--title {
    margin-left: 0;
  }

  .oap__cards {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 850px;
  }

  .oap__card {
    width: 373px;
    height: 238px;
    margin: 0;
  }

  .oap__card:first-child {
    margin-right: 0;
    padding-bottom: 20px;
  }

  .oap__card:last-child {
    margin-right: 0;
  }

  .oap__card--title {
    bottom: 10px;
    left: 15px;
  }

  .card--description {
    margin: 10px 11px 0 15px;
  }

  .card--date {
    padding: 0 0 15px 15px;
  }

  .button__for__phone-2 {
    position: relative;
    margin: 30px auto;
  }

  .small__phone__button-2 {
    position: absolute;
    bottom: 0;
    width: 165px;
    padding: 10px 10px 10px 10px;
  }

  .mailing {
    width: 100%;
    background-color: #f1f1f1;
    margin: 0 auto;
    padding: 25px 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }

  .mailing__title {
    padding: 0;
    margin: 0 auto;
    width: 60%;
    text-align: center;
  }

  .desc {
    font-size: 16px;
  }

  .mailing__subtitle {
    margin: 0;
    padding: 20px 0 10px 0;
    display: inline-block;
    text-align: center;
    width: 60%;
  }

  .mailing__input {
    width: 80%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }

  .input__title {
    padding: 10px 0;
  }

  .input__field {
    width: 80%;
    padding: 16px 20px;
  }

  .input__confirm-btn {
    width: 40%;
    margin: 25px 0 0;
    padding: 14px;
  }

  .footer {
    padding-top: 20px;
  }

  .footer__socials {
    margin-left: 40px;
    margin-top: 0;
  }

  .footer__socials--title {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .footer__socials--img {
    width: 13px;
    height: 16px;
    margin-right: -10px;
  }

  .footer__paternity {
    margin-bottom: 0;
    margin-top: -32px;
    margin-right: 40px;
  }
}

@media(max-width: 375px) and (min-width: 321px) {

  .header {
    padding: 3px 0 2px 0;
  }

  .header__logo {
    padding-top: 5px;
    margin-left: 5px;
  }

  .header__menu {
    margin-right: 10px;
  }

  .header__menu--item {
    margin-right: 8px;
  }

  .header__menu--item:first-child {
    margin-right: 15px;
  }

  .header__menu--item:nth-child(2) {
    margin-right: 15px;
  }

  .header__menu--item:nth-child(3) {
    margin-right: 15px;
  }

  .header__menu--item:last-child {
    margin-right: 0;
  }

  .menu__item--link {
    font-size: 10px;
  }

  .content__inner {
    padding-bottom: 30px;
  }

  .content__header {
    padding: 20px 0 20px 0;
    justify-content: center;
  }

  .content__header--title {
    font-size: 21px;
    padding-top: 5px;
    margin-left: 10px;
    text-transform: uppercase;
  }

  .content__header--button {
    margin-top: 3px;
    margin-right: 10px;
    color: #fff;
    font-size: 8px;
    text-transform: uppercase;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 25px;
  }

  .card {
    margin: 10px 0;
  }

  .card:first-child {
    margin: 0;
  }

  .card:nth-child(2) {
    margin: 25px 0;
  }

  .card:last-child {
    margin: 25px 0 0 0;
  }

  .content__card {
    padding-bottom: 20px;
  }

  .button__for__pc {
    display: none;
  }

  .button__for__phone {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .small__phone__button {
    width: 50%;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-size: 15px;
  }

  .container-2 {
    padding: 0;
  }

  .content-2__inner {
    flex-wrap: wrap;
    background-color: #fafafa;
  }

  .oap {
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 30px;
  }

  .oap__header {
    padding-top: 25px;
    justify-content: center;
  }

  .oap__header--title {
    margin-left: 0;
    font-size: 27px;
  }

  .oap__cards {
    margin: 25px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 850px;
  }

  .oap__card {
    width: 325px;
    height: 223px;
    margin: 0;
  }

  .oap__card--info {
    height: 190px;
  }

  .oap__card:first-child {
    margin-right: 0;
    padding-bottom: 20px;
  }

  .oap__card:last-child {
    margin-right: 0;
  }

  .oap__card--title {
    bottom: 10px;
    left: 15px;
  }

  .card--description {
    margin: 10px 11px 0 15px;
  }

  .card--date {
    padding: 0 0 15px 15px;
  }

  .button__for__phone-2 {
    position: relative;
    margin: 30px auto;
  }

  .small__phone__button-2 {
    position: absolute;
    bottom: 0;
    width: 165px;
    padding: 10px 10px 10px 10px;
  }

  .mailing {
    width: 100%;
    background-color: #f1f1f1;
    margin: 0 auto;
    padding: 25px 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }

  .mailing__title {
    padding: 0;
    margin: 0 auto;
    width: 60%;
    text-align: center;
  }

  .desc {
    font-size: 16px;
  }

  .mailing__subtitle {
    margin: 0;
    padding: 20px 0 10px 0;
    display: inline-block;
    text-align: center;
    width: 60%;
  }

  .mailing__input {
    width: 80%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }

  .input__title {
    padding: 10px 0;
  }

  .input__field {
    width: 80%;
    padding: 16px 20px;
  }

  .input__confirm-btn {
    width: 70%;
    margin: 25px 0 0;
    padding: 14px;
  }

  .footer {
    padding-top: 20px;
  }

  .footer__socials {
    margin-left: 30px;
    margin-top: 0;
  }

  .footer__socials--title {
    font-size: 13px;
    margin-bottom: 15px;
  }

  .footer__socials--img {
    width: 17px;
    height: 19px;
    margin-right: -16px;
  }

  .footer__paternity {
    margin-bottom: 0;
    margin-top: -32px;
    margin-right: 10px;
  }

}

@media (max-width:320px) {
  .header {
    padding: 3px 0 2px 0;
  }

  .header__logo {
    padding-top: 5px;
    margin-left: 5px;
  }

  .header__menu {
    margin-right: 10px;
  }

  .header__menu--item {
    margin-right: 8px;
  }

  .header__menu--item:first-child {
    margin-right: 15px;
  }

  .header__menu--item:nth-child(2) {
    margin-right: 15px;
  }

  .header__menu--item:nth-child(3) {
    margin-right: 15px;
  }

  .header__menu--item:last-child {
    margin-right: 0;
  }

  .menu__item--link {
    font-size: 8px;
  }

  .content__inner {
    padding-bottom: 30px;
  }

  .content__header {
    padding: 20px 0 20px 0;
    justify-content: center;
  }

  .content__header--title {
    font-size: 20px;
    padding-top: 5px;
    margin-left: 10px;
    text-transform: uppercase;
  }

  .content__header--button {
    margin-top: 3px;
    margin-right: 10px;
    color: #fff;
    font-size: 8px;
    text-transform: uppercase;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 25px;
  }

  .card {
    margin: 10px 0;
  }

  .card:first-child {
    margin: 0;
  }

  .card:nth-child(2) {
    margin: 25px 0;
  }

  .card:last-child {
    margin: 25px 0 0 0;
  }

  .content__card {
    padding-bottom: 20px;
  }

  .button__for__pc {
    display: none;
  }

  .button__for__phone {
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }

  .small__phone__button {
    width: 60%;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-size: 15px;
  }

  .container-2 {
    padding: 0;
  }

  .content-2__inner {
    flex-wrap: wrap;
    background-color: #fafafa;
  }

  .oap {
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 10px;
  }

  .oap__header {
    padding-top: 20px;
    justify-content: center;
  }

  .oap__header--title {
    margin-left: 0;
    font-size: 25px;
  }

  .oap__cards {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 850px;
  }

  .oap__card {
    width: 300px;
    height: 223px;
    margin: 0;
  }

  .oap__card--info {
    height: 190px;
  }

  .oap__card:first-child {
    margin-right: 0;
    padding-bottom: 20px;
  }

  .oap__card:last-child {
    margin-right: 0;
  }

  .oap__card--title {
    bottom: 10px;
    left: 15px;
  }

  .card--description {
    margin: 10px 11px 0 15px;
  }

  .card--date {
    padding: 0 0 15px 15px;
  }

  .button__for__phone-2 {
    position: relative;
    margin: 25px auto;
  }

  .small__phone__button-2 {
    position: absolute;
    bottom: 0;
    width: 165px;
    padding: 10px 10px 10px 10px;
  }

  .mailing {
    width: 100%;
    background-color: #f1f1f1;
    margin: 0 auto;
    padding: 25px 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }

  .mailing__title {
    padding: 0;
    margin: 0 auto;
    width: 70%;
    text-align: center;
  }

  .desc {
    font-size: 13px;
  }

  .mailing__title {
    font-size: 23px;
  }

  .mailing__subtitle {
    margin: 0;
    padding: 20px 0 10px 0;
    display: inline-block;
    text-align: center;
    width: 60%;
  }

  .mailing__input {
    width: 80%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }

  .input__title {
    padding: 5px 0;
  }

  .input__field {
    width: 100%;
    padding: 13px 15px;
  }

  .input__confirm-btn {
    width: 60%;
    margin: 20px 0 0;
    padding: 12px;
  }

  .footer {
    padding-top: 20px;
  }

  .footer__socials {
    margin-left: 30px;
    margin-top: 0;
  }

  .footer__socials--links {
    margin-bottom: 20px;
  }

  .footer__socials--title {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .footer__socials--img {
    width: 17px;
    height: 19px;
    margin-right: -16px;
  }

  .footer__paternity {
    margin-bottom: 0;
    margin-top: -24px;
    margin-right: -5px;
  }
}